body{
    margin: 0;
    padding: 0;
    background-color: rgb(105, 39, 100);
    color: floralwhite;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.genre-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card{
    width: 200px;
    height: 120px;
    border-radius: 20px;
    background-color: gainsboro;
    text-align: center;
    padding: 5px;
    margin: 10px;
    border:solid rgb(174, 178, 235) 2px;
}